VITE_MY_API_URL=https://api.my.cloud.spacelabs.pt
VITE_MY_CLIENT_ID=pt.spacelabs.cloud.auth
VITE_MY_SCOPES=openid
VITE_AUTH_REDIRECT=https://auth.cloud.spacelabs.pt/oauth
VITE_MY_CODE_URL=https://my.cloud.spacelabs.pt/oauth